
<div class="card">
    <div class="card-body pb-0">
        <h5 class="card-title">Выброшенные загрязняющие вещества <span>| январь 2025</span></h5>

        <div id="trafficChart" style="min-height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;" class="echart" _echarts_instance_="ec_1748207136192"><div style="position: relative; width: 745px; height: 400px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas data-zr-dom-id="zr_0" width="931" height="500" style="position: absolute; left: 0px; top: 0px; width: 745px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>

        <script>
            document.addEventListener("DOMContentLoaded", () => {
              echarts.init(document.querySelector("#trafficChart")).setOption({
                tooltip: {
                  trigger: 'item'
                },
                legend: {
                  top: '5%',
                  left: 'center'
                },
                series: [{
                  name: 'Загрязняющее вещество',
                  type: 'pie',
                  radius: ['40%', '70%'],
                  avoidLabelOverlap: false,
                  label: {
                    show: false,
                    position: 'center'
                  },
                  emphasis: {
                    label: {
                      show: true,
                      fontSize: '18',
                      fontWeight: 'bold'
                    }
                  },
                  labelLine: {
                    show: false
                  },
                  data: [
                    {
                      value: 1048,
                      name: 'Диоксид углерода'
                    },
                    {
                      value: 735,
                      name: 'Сульфат аммония'
                    },
                    {
                      value: 580,
                      name: 'Пыль металлов'
                    },
                    {
                      value: 484,
                      name: 'Оксид азота'
                    },
                    {
                      value: 300,
                      name: 'Метан'
                    }
                  ]
                }]
              });
            });
        </script>

    </div>
</div>

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Термический цех<span>/валовые выбросы 2024</span></h5>

            <!-- Line Chart -->
            <div id="reportsChart" style="min-height: 365px;" class="">
            </div>

            <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#reportsChart"), {
                    series: [
                        {
                          name: 'Диоксид углерода',
                          data: [7.65, 40, 28, 51, 42, 82, 56, 34, 67, 23, 45, 39]
                        },
                        {
                          name: 'Сульфат аммония',
                          data: [11, 32, 45, 32, 34, 52, 41, 28, 37, 49, 58, 47]
                        },
                        {
                          name: 'Пыль металлов',
                          data: [15, 11, 32, 18, 9, 24, 11, 16, 22, 13, 18, 10]
                        }
                    ],
                    chart: {
                      height: 350,
                      type: 'area',
                      toolbar: {
                        show: false
                      },
                    },
                    markers: {
                      size: 4
                    },
                    colors: ['#4154f1', '#2eca6a', '#ff771d'],
                    fill: {
                      type: "gradient",
                      gradient: {
                        shadeIntensity: 1,
                        opacityFrom: 0.3,
                        opacityTo: 0.4,
                        stops: [0, 90, 100]
                      }
                    },
                    dataLabels: {
                      enabled: false
                    },
                    stroke: {
                      curve: 'smooth',
                      width: 2
                    },
                    xaxis: {
                      type: 'datetime',
                      labels: {
                        format: 'MM/yy',
                      },
                      categories: [
                          "2024-01-01T00:00:00.000Z",
                          "2024-02-01T00:00:00.000Z",
                          "2024-03-01T00:00:00.000Z",
                          "2024-04-01T00:00:00.000Z",
                          "2024-05-01T00:00:00.000Z",
                          "2024-06-01T00:00:00.000Z",
                          "2024-07-01T00:00:00.000Z",
                          "2024-08-01T00:00:00.000Z",
                          "2024-09-01T00:00:00.000Z",
                          "2024-10-01T00:00:00.000Z",
                          "2024-11-01T00:00:00.000Z",
                          "2024-12-01T00:00:00.000Z"
                      ]
                    },
                    tooltip: {
                      x: {
                        format: 'MM/yy'
                      },
                    }
                  }).render();
                });
            </script>
        </div>
    </div>
</div>