
<div class="card">
    <div class="card-body pb-0">
        <h5 class="card-title">Выброшенные загрязняющие вещества <span>| январь 2025</span></h5>

        <div id="trafficChart" style="min-height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;" class="echart" _echarts_instance_="ec_1748207136192"><div style="position: relative; width: 745px; height: 400px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas data-zr-dom-id="zr_0" width="931" height="500" style="position: absolute; left: 0px; top: 0px; width: 745px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>

        <script>
            document.addEventListener("DOMContentLoaded", () => {
              echarts.init(document.querySelector("#trafficChart")).setOption({
                tooltip: {
                  trigger: 'item'
                },
                legend: {
                  top: '5%',
                  left: 'center'
                },
                series: [{
                  name: 'Загрязняющее вещество',
                  type: 'pie',
                  radius: ['40%', '70%'],
                  avoidLabelOverlap: false,
                  label: {
                    show: false,
                    position: 'center'
                  },
                  emphasis: {
                    label: {
                      show: true,
                      fontSize: '18',
                      fontWeight: 'bold'
                    }
                  },
                  labelLine: {
                    show: false
                  },
                  data: [
                    {
                      value: 1048,
                      name: 'Диоксид углерода'
                    },
                    {
                      value: 735,
                      name: 'Сульфат аммония'
                    },
                    {
                      value: 580,
                      name: 'Пыль металлов'
                    },
                    {
                      value: 484,
                      name: 'Оксид азота'
                    },
                    {
                      value: 300,
                      name: 'Метан'
                    }
                  ]
                }]
              });
            });
        </script>

    </div>
</div>

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Термический цех<span>/валовые выбросы 2024</span></h5>

            <!-- Line Chart -->
            <div id="reportsChart" style="min-height: 365px;" class="">
                <div id="apexchartsfssag4b9j" class="apexcharts-canvas apexchartsfssag4b9j apexcharts-theme-light" style="width: 745px; height: 350px;">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" class="apexcharts-svg apexcharts-zoomable" xmlns:data="ApexChartsNS" transform="translate(0, 0)" width="745" height="350">
                        <foreignObject x="0" y="0" width="745" height="350">
                            <style type="text/css">
                                .apexcharts-flip-y {
                                    transform: scaleY(-1) translateY(-100%);
                                    transform-origin: top;
                                    transform-box: fill-box;
                                }

                                .apexcharts-flip-x {
                                    transform: scaleX(-1);
                                    transform-origin: center;
                                    transform-box: fill-box;
                                }

                                .apexcharts-legend {
                                    display: flex;
                                    overflow: auto;
                                    padding: 0 10px;
                                }

                                    .apexcharts-legend.apexcharts-legend-group-horizontal {
                                        flex-direction: column;
                                    }

                                .apexcharts-legend-group {
                                    display: flex;
                                }

                                .apexcharts-legend-group-vertical {
                                    flex-direction: column-reverse;
                                }

                                .apexcharts-legend.apx-legend-position-bottom, .apexcharts-legend.apx-legend-position-top {
                                    flex-wrap: wrap
                                }

                                .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
                                    flex-direction: column;
                                    bottom: 0;
                                }

                                .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                }

                                .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
                                    justify-content: center;
                                    align-items: center;
                                }

                                .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right, .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {
                                    justify-content: flex-end;
                                    align-items: flex-end;
                                }

                                .apexcharts-legend-series {
                                    cursor: pointer;
                                    line-height: normal;
                                    display: flex;
                                    align-items: center;
                                }

                                .apexcharts-legend-text {
                                    position: relative;
                                    font-size: 14px;
                                }

                                    .apexcharts-legend-text *, .apexcharts-legend-marker * {
                                        pointer-events: none;
                                    }

                                .apexcharts-legend-marker {
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    cursor: pointer;
                                    margin-right: 1px;
                                }

                                .apexcharts-legend-series.apexcharts-no-click {
                                    cursor: auto;
                                }

                                .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {
                                    display: none !important;
                                }

                                .apexcharts-inactive-legend {
                                    opacity: 0.45;
                                }

                            </style>
                        </foreignObject>
                        <rect width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect>
                        <g class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g>
                        <g class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g>
                        <g class="apexcharts-yaxis" rel="0" transform="translate(15.635351181030273, 0)"><g class="apexcharts-yaxis-texts-g"><text x="20" y="33.666666666666664" text-anchor="end" dominant-baseline="auto" font-size="11px" font-family="Helvetica, Arial, sans-serif" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan>100</tspan><title>100</title></text><text x="20" y="86.60266657511393" text-anchor="end" dominant-baseline="auto" font-size="11px" font-family="Helvetica, Arial, sans-serif" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan>80</tspan><title>80</title></text><text x="20" y="139.5386664835612" text-anchor="end" dominant-baseline="auto" font-size="11px" font-family="Helvetica, Arial, sans-serif" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan>60</tspan><title>60</title></text><text x="20" y="192.47466639200846" text-anchor="end" dominant-baseline="auto" font-size="11px" font-family="Helvetica, Arial, sans-serif" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan>40</tspan><title>40</title></text><text x="20" y="245.41066630045572" text-anchor="end" dominant-baseline="auto" font-size="11px" font-family="Helvetica, Arial, sans-serif" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan>20</tspan><title>20</title></text><text x="20" y="298.346666208903" text-anchor="end" dominant-baseline="auto" font-size="11px" font-family="Helvetica, Arial, sans-serif" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan>0</tspan><title>0</title></text></g></g>
                        <g class="apexcharts-inner apexcharts-graphical" transform="translate(45.63535118103027, 30)">
                            <defs><clipPath id="gridRectMaskfssag4b9j"><rect width="695.3646488189697" height="270.6799995422363" x="-3" y="-3" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectBarMaskfssag4b9j"><rect width="695.3646488189697" height="270.6799995422363" x="-3" y="-3" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMaskfssag4b9j"><rect width="709.3646488189697" height="284.6799995422363" x="-10" y="-10" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskfssag4b9j"></clipPath><clipPath id="nonForecastMaskfssag4b9j"></clipPath><linearGradient x1="0" y1="0" x2="0" y2="1" id="SvgjsLinearGradient1003"><stop stop-opacity="0.3" stop-color="rgba(65,84,241,0.3)" offset="0"></stop><stop stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="0.9"></stop><stop stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="1"></stop></linearGradient><linearGradient x1="0" y1="0" x2="0" y2="1" id="SvgjsLinearGradient1004"><stop stop-opacity="0.3" stop-color="rgba(46,202,106,0.3)" offset="0"></stop><stop stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="0.9"></stop><stop stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="1"></stop></linearGradient><linearGradient x1="0" y1="0" x2="0" y2="1" id="SvgjsLinearGradient1005"><stop stop-opacity="0.3" stop-color="rgba(255,119,29,0.3)" offset="0"></stop><stop stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="0.9"></stop><stop stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="1"></stop></linearGradient></defs><line x1="0" y1="0" x2="0" y2="264.6799995422363" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="264.6799995422363" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><line x1="0" y1="264.6799995422363" x2="0" y2="270.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line x1="106.05609981830304" y1="264.6799995422363" x2="106.05609981830304" y2="270.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line x1="212.11219963660608" y1="264.6799995422363" x2="212.11219963660608" y2="270.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line x1="318.1682994549091" y1="264.6799995422363" x2="318.1682994549091" y2="270.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line x1="424.22439927321216" y1="264.6799995422363" x2="424.22439927321216" y2="270.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line x1="530.2804990915151" y1="264.6799995422363" x2="530.2804990915151" y2="270.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line x1="636.3365989098181" y1="264.6799995422363" x2="636.3365989098181" y2="270.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><g class="apexcharts-grid"><g class="apexcharts-gridlines-horizontal"><line x1="0" y1="52.935999908447265" x2="689.3646488189697" y2="52.935999908447265" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line x1="0" y1="105.87199981689453" x2="689.3646488189697" y2="105.87199981689453" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line x1="0" y1="158.8079997253418" x2="689.3646488189697" y2="158.8079997253418" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line x1="0" y1="211.74399963378906" x2="689.3646488189697" y2="211.74399963378906" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g class="apexcharts-gridlines-vertical"></g><line x1="0" y1="264.6799995422363" x2="689.3646488189697" y2="264.6799995422363" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line x1="0" y1="1" x2="0" y2="264.6799995422363" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g class="apexcharts-grid-borders"><line x1="0" y1="0" x2="689.3646488189697" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line x1="0" y1="264.6799995422363" x2="689.3646488189697" y2="264.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line x1="0" y1="264.6799995422363" x2="689.3646488189697" y2="264.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"></line></g><g class="apexcharts-area-series apexcharts-plot-series">
                                <g class="apexcharts-series" zIndex="0" seriesName="Sales" data:longestSeries="true" rel="1" data:realIndex="0">
                                    <path d="M 0 182.62919968414306C 55.679452404609094 182.62919968414306 103.40469732284546 158.8079997253418 159.08414972745456 158.8079997253418C 196.2037846638606 158.8079997253418 228.02061460935153 190.56959967041016 265.14024954575757 190.56959967041016C 302.2598844821636 190.56959967041016 334.07671442765457 129.6931997756958 371.1963493640606 129.6931997756958C 408.31598430046665 129.6931997756958 440.1328142459576 153.51439973449706 477.25244918236365 153.51439973449706C 514.3720841187696 153.51439973449706 546.1889140642606 47.642399917602546 583.3085490006666 47.642399917602546C 620.4281839370727 47.642399917602546 652.2450138825636 116.459199798584 689.3646488189697 116.459199798584C 689.3646488189697 116.459199798584 689.3646488189697 116.459199798584 689.3646488189697 264.6799995422363 L 0 264.6799995422363z" fill="url(#SvgjsLinearGradient1003)" fill-opacity="1" stroke="none" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskfssag4b9j)" pathTo="M 0 182.62919968414306C 55.679452404609094 182.62919968414306 103.40469732284546 158.8079997253418 159.08414972745456 158.8079997253418C 196.2037846638606 158.8079997253418 228.02061460935153 190.56959967041016 265.14024954575757 190.56959967041016C 302.2598844821636 190.56959967041016 334.07671442765457 129.6931997756958 371.1963493640606 129.6931997756958C 408.31598430046665 129.6931997756958 440.1328142459576 153.51439973449706 477.25244918236365 153.51439973449706C 514.3720841187696 153.51439973449706 546.1889140642606 47.642399917602546 583.3085490006666 47.642399917602546C 620.4281839370727 47.642399917602546 652.2450138825636 116.459199798584 689.3646488189697 116.459199798584C 689.3646488189697 116.459199798584 689.3646488189697 116.459199798584 689.3646488189697 264.6799995422363 L 0 264.6799995422363z" pathFrom="M 0 264.6799995422363 L 0 264.6799995422363 L 159.08414972745456 264.6799995422363 L 265.14024954575757 264.6799995422363 L 371.1963493640606 264.6799995422363 L 477.25244918236365 264.6799995422363 L 583.3085490006666 264.6799995422363 L 689.3646488189697 264.6799995422363z"></path><path d="M 0 182.62919968414306C 55.679452404609094 182.62919968414306 103.40469732284546 158.8079997253418 159.08414972745456 158.8079997253418C 196.2037846638606 158.8079997253418 228.02061460935153 190.56959967041016 265.14024954575757 190.56959967041016C 302.2598844821636 190.56959967041016 334.07671442765457 129.6931997756958 371.1963493640606 129.6931997756958C 408.31598430046665 129.6931997756958 440.1328142459576 153.51439973449706 477.25244918236365 153.51439973449706C 514.3720841187696 153.51439973449706 546.1889140642606 47.642399917602546 583.3085490006666 47.642399917602546C 620.4281839370727 47.642399917602546 652.2450138825636 116.459199798584 689.3646488189697 116.459199798584" fill="none" fill-opacity="1" stroke="#4154f1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskfssag4b9j)" pathTo="M 0 182.62919968414306C 55.679452404609094 182.62919968414306 103.40469732284546 158.8079997253418 159.08414972745456 158.8079997253418C 196.2037846638606 158.8079997253418 228.02061460935153 190.56959967041016 265.14024954575757 190.56959967041016C 302.2598844821636 190.56959967041016 334.07671442765457 129.6931997756958 371.1963493640606 129.6931997756958C 408.31598430046665 129.6931997756958 440.1328142459576 153.51439973449706 477.25244918236365 153.51439973449706C 514.3720841187696 153.51439973449706 546.1889140642606 47.642399917602546 583.3085490006666 47.642399917602546C 620.4281839370727 47.642399917602546 652.2450138825636 116.459199798584 689.3646488189697 116.459199798584" pathFrom="M 0 264.6799995422363 L 0 264.6799995422363 L 159.08414972745456 264.6799995422363 L 265.14024954575757 264.6799995422363 L 371.1963493640606 264.6799995422363 L 477.25244918236365 264.6799995422363 L 583.3085490006666 264.6799995422363 L 689.3646488189697 264.6799995422363" fill-rule="evenodd"></path><g class="apexcharts-series-markers-wrap apexcharts-hidden-element-shown" data:realIndex="0">
                                        <g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 0, 182.62919968414306
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#4154f1" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="0" cy="182.62919968414306" shape="circle" class="apexcharts-marker no-pointer-events wxxr70d7fk" rel="0" j="0" index="0" default-marker-size="4"></path><path d="M 159.08414972745456, 158.8079997253418
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#4154f1" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="159.08414972745456" cy="158.8079997253418" shape="circle" class="apexcharts-marker no-pointer-events wxua0807qi" rel="1" j="1" index="0" default-marker-size="4"></path>
                                        </g><g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 265.14024954575757, 190.56959967041016
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#4154f1" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="265.14024954575757" cy="190.56959967041016" shape="circle" class="apexcharts-marker no-pointer-events w2ms80xf7i" rel="2" j="2" index="0" default-marker-size="4"></path>
                                        </g><g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 371.1963493640606, 129.6931997756958
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#4154f1" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="371.1963493640606" cy="129.6931997756958" shape="circle" class="apexcharts-marker no-pointer-events wpsrk1jywl" rel="3" j="3" index="0" default-marker-size="4"></path>
                                        </g><g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 477.25244918236365, 153.51439973449706
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#4154f1" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="477.25244918236365" cy="153.51439973449706" shape="circle" class="apexcharts-marker no-pointer-events worlu2ai" rel="4" j="4" index="0" default-marker-size="4"></path>
                                        </g><g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 583.3085490006666, 47.642399917602546
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#4154f1" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="583.3085490006666" cy="47.642399917602546" shape="circle" class="apexcharts-marker no-pointer-events wpfknf0aak" rel="5" j="5" index="0" default-marker-size="4"></path>
                                        </g><g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 689.3646488189697, 116.459199798584
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#4154f1" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="689.3646488189697" cy="116.459199798584" shape="circle" class="apexcharts-marker no-pointer-events wxg1cxyum" rel="6" j="6" index="0" default-marker-size="4"></path>
                                        </g>
                                    </g>
                                </g><g class="apexcharts-series" zIndex="1" seriesName="Revenue" data:longestSeries="true" rel="2" data:realIndex="1">
                                    <path d="M 0 235.56519959259032C 55.679452404609094 235.56519959259032 103.40469732284546 179.9823996887207 159.08414972745456 179.9823996887207C 196.2037846638606 179.9823996887207 228.02061460935153 145.57399974823 265.14024954575757 145.57399974823C 302.2598844821636 145.57399974823 334.07671442765457 179.9823996887207 371.1963493640606 179.9823996887207C 408.31598430046665 179.9823996887207 440.1328142459576 174.68879969787596 477.25244918236365 174.68879969787596C 514.3720841187696 174.68879969787596 546.1889140642606 127.04639978027345 583.3085490006666 127.04639978027345C 620.4281839370727 127.04639978027345 652.2450138825636 156.16119972991942 689.3646488189697 156.16119972991942C 689.3646488189697 156.16119972991942 689.3646488189697 156.16119972991942 689.3646488189697 264.6799995422363 L 0 264.6799995422363z" fill="url(#SvgjsLinearGradient1004)" fill-opacity="1" stroke="none" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMaskfssag4b9j)" pathTo="M 0 235.56519959259032C 55.679452404609094 235.56519959259032 103.40469732284546 179.9823996887207 159.08414972745456 179.9823996887207C 196.2037846638606 179.9823996887207 228.02061460935153 145.57399974823 265.14024954575757 145.57399974823C 302.2598844821636 145.57399974823 334.07671442765457 179.9823996887207 371.1963493640606 179.9823996887207C 408.31598430046665 179.9823996887207 440.1328142459576 174.68879969787596 477.25244918236365 174.68879969787596C 514.3720841187696 174.68879969787596 546.1889140642606 127.04639978027345 583.3085490006666 127.04639978027345C 620.4281839370727 127.04639978027345 652.2450138825636 156.16119972991942 689.3646488189697 156.16119972991942C 689.3646488189697 156.16119972991942 689.3646488189697 156.16119972991942 689.3646488189697 264.6799995422363 L 0 264.6799995422363z" pathFrom="M 0 264.6799995422363 L 0 264.6799995422363 L 159.08414972745456 264.6799995422363 L 265.14024954575757 264.6799995422363 L 371.1963493640606 264.6799995422363 L 477.25244918236365 264.6799995422363 L 583.3085490006666 264.6799995422363 L 689.3646488189697 264.6799995422363z"></path><path d="M 0 235.56519959259032C 55.679452404609094 235.56519959259032 103.40469732284546 179.9823996887207 159.08414972745456 179.9823996887207C 196.2037846638606 179.9823996887207 228.02061460935153 145.57399974823 265.14024954575757 145.57399974823C 302.2598844821636 145.57399974823 334.07671442765457 179.9823996887207 371.1963493640606 179.9823996887207C 408.31598430046665 179.9823996887207 440.1328142459576 174.68879969787596 477.25244918236365 174.68879969787596C 514.3720841187696 174.68879969787596 546.1889140642606 127.04639978027345 583.3085490006666 127.04639978027345C 620.4281839370727 127.04639978027345 652.2450138825636 156.16119972991942 689.3646488189697 156.16119972991942" fill="none" fill-opacity="1" stroke="#2eca6a" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMaskfssag4b9j)" pathTo="M 0 235.56519959259032C 55.679452404609094 235.56519959259032 103.40469732284546 179.9823996887207 159.08414972745456 179.9823996887207C 196.2037846638606 179.9823996887207 228.02061460935153 145.57399974823 265.14024954575757 145.57399974823C 302.2598844821636 145.57399974823 334.07671442765457 179.9823996887207 371.1963493640606 179.9823996887207C 408.31598430046665 179.9823996887207 440.1328142459576 174.68879969787596 477.25244918236365 174.68879969787596C 514.3720841187696 174.68879969787596 546.1889140642606 127.04639978027345 583.3085490006666 127.04639978027345C 620.4281839370727 127.04639978027345 652.2450138825636 156.16119972991942 689.3646488189697 156.16119972991942" pathFrom="M 0 264.6799995422363 L 0 264.6799995422363 L 159.08414972745456 264.6799995422363 L 265.14024954575757 264.6799995422363 L 371.1963493640606 264.6799995422363 L 477.25244918236365 264.6799995422363 L 583.3085490006666 264.6799995422363 L 689.3646488189697 264.6799995422363" fill-rule="evenodd"></path><g class="apexcharts-series-markers-wrap apexcharts-hidden-element-shown" data:realIndex="1">
                                        <g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 0, 235.56519959259032
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#2eca6a" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="0" cy="235.56519959259032" shape="circle" class="apexcharts-marker no-pointer-events w6c9s3s8g" rel="0" j="0" index="1" default-marker-size="4"></path><path d="M 159.08414972745456, 179.9823996887207
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#2eca6a" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="159.08414972745456" cy="179.9823996887207" shape="circle" class="apexcharts-marker no-pointer-events wsfrx6ult" rel="1" j="1" index="1" default-marker-size="4"></path>
                                        </g><g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 265.14024954575757, 145.57399974823
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#2eca6a" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="265.14024954575757" cy="145.57399974823" shape="circle" class="apexcharts-marker no-pointer-events wp9mp1dcxj" rel="2" j="2" index="1" default-marker-size="4"></path>
                                        </g><g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 371.1963493640606, 179.9823996887207
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#2eca6a" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="371.1963493640606" cy="179.9823996887207" shape="circle" class="apexcharts-marker no-pointer-events w5okwuc3x" rel="3" j="3" index="1" default-marker-size="4"></path>
                                        </g><g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 477.25244918236365, 174.68879969787596
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#2eca6a" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="477.25244918236365" cy="174.68879969787596" shape="circle" class="apexcharts-marker no-pointer-events wv6deux32" rel="4" j="4" index="1" default-marker-size="4"></path>
                                        </g><g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 583.3085490006666, 127.04639978027345
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#2eca6a" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="583.3085490006666" cy="127.04639978027345" shape="circle" class="apexcharts-marker no-pointer-events wdsgurlv7j" rel="5" j="5" index="1" default-marker-size="4"></path>
                                        </g><g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 689.3646488189697, 156.16119972991942
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#2eca6a" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="689.3646488189697" cy="156.16119972991942" shape="circle" class="apexcharts-marker no-pointer-events w6w9w8kzu" rel="6" j="6" index="1" default-marker-size="4"></path>
                                        </g>
                                    </g>
                                </g><g class="apexcharts-series" zIndex="2" seriesName="Customers" data:longestSeries="true" rel="3" data:realIndex="2">
                                    <path d="M 0 224.97799961090087C 55.679452404609094 224.97799961090087 103.40469732284546 235.56519959259032 159.08414972745456 235.56519959259032C 196.2037846638606 235.56519959259032 228.02061460935153 179.9823996887207 265.14024954575757 179.9823996887207C 302.2598844821636 179.9823996887207 334.07671442765457 217.03759962463377 371.1963493640606 217.03759962463377C 408.31598430046665 217.03759962463377 440.1328142459576 240.85879958343506 477.25244918236365 240.85879958343506C 514.3720841187696 240.85879958343506 546.1889140642606 201.1567996520996 583.3085490006666 201.1567996520996C 620.4281839370727 201.1567996520996 652.2450138825636 235.56519959259032 689.3646488189697 235.56519959259032C 689.3646488189697 235.56519959259032 689.3646488189697 235.56519959259032 689.3646488189697 264.6799995422363 L 0 264.6799995422363z" fill="url(#SvgjsLinearGradient1005)" fill-opacity="1" stroke="none" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="2" clip-path="url(#gridRectMaskfssag4b9j)" pathTo="M 0 224.97799961090087C 55.679452404609094 224.97799961090087 103.40469732284546 235.56519959259032 159.08414972745456 235.56519959259032C 196.2037846638606 235.56519959259032 228.02061460935153 179.9823996887207 265.14024954575757 179.9823996887207C 302.2598844821636 179.9823996887207 334.07671442765457 217.03759962463377 371.1963493640606 217.03759962463377C 408.31598430046665 217.03759962463377 440.1328142459576 240.85879958343506 477.25244918236365 240.85879958343506C 514.3720841187696 240.85879958343506 546.1889140642606 201.1567996520996 583.3085490006666 201.1567996520996C 620.4281839370727 201.1567996520996 652.2450138825636 235.56519959259032 689.3646488189697 235.56519959259032C 689.3646488189697 235.56519959259032 689.3646488189697 235.56519959259032 689.3646488189697 264.6799995422363 L 0 264.6799995422363z" pathFrom="M 0 264.6799995422363 L 0 264.6799995422363 L 159.08414972745456 264.6799995422363 L 265.14024954575757 264.6799995422363 L 371.1963493640606 264.6799995422363 L 477.25244918236365 264.6799995422363 L 583.3085490006666 264.6799995422363 L 689.3646488189697 264.6799995422363z"></path><path d="M 0 224.97799961090087C 55.679452404609094 224.97799961090087 103.40469732284546 235.56519959259032 159.08414972745456 235.56519959259032C 196.2037846638606 235.56519959259032 228.02061460935153 179.9823996887207 265.14024954575757 179.9823996887207C 302.2598844821636 179.9823996887207 334.07671442765457 217.03759962463377 371.1963493640606 217.03759962463377C 408.31598430046665 217.03759962463377 440.1328142459576 240.85879958343506 477.25244918236365 240.85879958343506C 514.3720841187696 240.85879958343506 546.1889140642606 201.1567996520996 583.3085490006666 201.1567996520996C 620.4281839370727 201.1567996520996 652.2450138825636 235.56519959259032 689.3646488189697 235.56519959259032" fill="none" fill-opacity="1" stroke="#ff771d" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="2" clip-path="url(#gridRectMaskfssag4b9j)" pathTo="M 0 224.97799961090087C 55.679452404609094 224.97799961090087 103.40469732284546 235.56519959259032 159.08414972745456 235.56519959259032C 196.2037846638606 235.56519959259032 228.02061460935153 179.9823996887207 265.14024954575757 179.9823996887207C 302.2598844821636 179.9823996887207 334.07671442765457 217.03759962463377 371.1963493640606 217.03759962463377C 408.31598430046665 217.03759962463377 440.1328142459576 240.85879958343506 477.25244918236365 240.85879958343506C 514.3720841187696 240.85879958343506 546.1889140642606 201.1567996520996 583.3085490006666 201.1567996520996C 620.4281839370727 201.1567996520996 652.2450138825636 235.56519959259032 689.3646488189697 235.56519959259032" pathFrom="M 0 264.6799995422363 L 0 264.6799995422363 L 159.08414972745456 264.6799995422363 L 265.14024954575757 264.6799995422363 L 371.1963493640606 264.6799995422363 L 477.25244918236365 264.6799995422363 L 583.3085490006666 264.6799995422363 L 689.3646488189697 264.6799995422363" fill-rule="evenodd"></path><g class="apexcharts-series-markers-wrap apexcharts-hidden-element-shown" data:realIndex="2">
                                        <g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 0, 224.97799961090087
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#ff771d" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="0" cy="224.97799961090087" shape="circle" class="apexcharts-marker no-pointer-events w1042oges" rel="0" j="0" index="2" default-marker-size="4"></path><path d="M 159.08414972745456, 235.56519959259032
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#ff771d" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="159.08414972745456" cy="235.56519959259032" shape="circle" class="apexcharts-marker no-pointer-events w1q5c1a6y" rel="1" j="1" index="2" default-marker-size="4"></path>
                                        </g><g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 265.14024954575757, 179.9823996887207
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#ff771d" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="265.14024954575757" cy="179.9823996887207" shape="circle" class="apexcharts-marker no-pointer-events wh1z3t6eq" rel="2" j="2" index="2" default-marker-size="4"></path>
                                        </g><g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 371.1963493640606, 217.03759962463377
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#ff771d" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="371.1963493640606" cy="217.03759962463377" shape="circle" class="apexcharts-marker no-pointer-events w5obw6vgm" rel="3" j="3" index="2" default-marker-size="4"></path>
                                        </g><g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 477.25244918236365, 240.85879958343506
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#ff771d" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="477.25244918236365" cy="240.85879958343506" shape="circle" class="apexcharts-marker no-pointer-events wsemh5wy8" rel="4" j="4" index="2" default-marker-size="4"></path>
                                        </g><g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 583.3085490006666, 201.1567996520996
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#ff771d" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="583.3085490006666" cy="201.1567996520996" shape="circle" class="apexcharts-marker no-pointer-events wpalr7yv9i" rel="5" j="5" index="2" default-marker-size="4"></path>
                                        </g><g class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfssag4b9j)">
                                            <path d="M 689.3646488189697, 235.56519959259032
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#ff771d" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="689.3646488189697" cy="235.56519959259032" shape="circle" class="apexcharts-marker no-pointer-events wbf8ewnull" rel="6" j="6" index="2" default-marker-size="4"></path>
                                        </g>
                                    </g>
                                </g><g class="apexcharts-datalabels" data:realIndex="0"></g><g class="apexcharts-datalabels" data:realIndex="1"></g><g class="apexcharts-datalabels" data:realIndex="2"></g>
                            </g><line x1="0" y1="0" x2="689.3646488189697" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line x1="0" y1="0" x2="689.3646488189697" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g class="apexcharts-xaxis" transform="translate(0, 0)"><g class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text x="0" y="292.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-family="Helvetica, Arial, sans-serif" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan>00:00</tspan><title>00:00</title></text><text x="106.05609981830304" y="292.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-family="Helvetica, Arial, sans-serif" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan>01:00</tspan><title>01:00</title></text><text x="212.11219963660608" y="292.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-family="Helvetica, Arial, sans-serif" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan>02:00</tspan><title>02:00</title></text><text x="318.1682994549091" y="292.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-family="Helvetica, Arial, sans-serif" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan>03:00</tspan><title>03:00</title></text><text x="424.22439927321216" y="292.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-family="Helvetica, Arial, sans-serif" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan>04:00</tspan><title>04:00</title></text><text x="530.2804990915151" y="292.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-family="Helvetica, Arial, sans-serif" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan>05:00</tspan><title>05:00</title></text><text x="636.3365989098181" y="292.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-family="Helvetica, Arial, sans-serif" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan>06:00</tspan><title>06:00</title></text></g></g><g class="apexcharts-yaxis-annotations"></g><g class="apexcharts-xaxis-annotations"></g><g class="apexcharts-point-annotations"></g>
                        </g>
                        <rect width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-zoom-rect"></rect>
                        <rect width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-selection-rect"></rect>
                    </svg><div class="apexcharts-legend apexcharts-align-center apx-legend-position-bottom" style="right: 0px; position: absolute; left: 0px; top: 325px; max-height: 175px;">
                        <div class="apexcharts-legend-series" rel="1" seriesname="Sales" data:collapsed="false" style="margin: 4px 5px;">
                            <span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="height: 16px; width: 16px; left: 0px; top: 0px;">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
                                    <path d="M 0, 0
           m -7, 0
           a 7,7 0 1,0 14,0
           a 7,7 0 1,0 -14,0" fill="#4154f1" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="1" stroke-dasharray="0" cx="0" cy="0" shape="circle" class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-circle" style="transform: translate(50%, 50%);"></path>
                                </svg>
                            </span><span class="apexcharts-legend-text" rel="1" i="0" data:default-text="Sales" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Sales</span>
                        </div><div class="apexcharts-legend-series" rel="2" seriesname="Revenue" data:collapsed="false" style="margin: 4px 5px;">
                            <span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="height: 16px; width: 16px; left: 0px; top: 0px;">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
                                    <path d="M 0, 0
           m -7, 0
           a 7,7 0 1,0 14,0
           a 7,7 0 1,0 -14,0" fill="#2eca6a" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="1" stroke-dasharray="0" cx="0" cy="0" shape="circle" class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-circle" style="transform: translate(50%, 50%);"></path>
                                </svg>
                            </span><span class="apexcharts-legend-text" rel="2" i="1" data:default-text="Revenue" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Revenue</span>
                        </div><div class="apexcharts-legend-series" rel="3" seriesname="Customers" data:collapsed="false" style="margin: 4px 5px;">
                            <span class="apexcharts-legend-marker" rel="3" data:collapsed="false" style="height: 16px; width: 16px; left: 0px; top: 0px;">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
                                    <path d="M 0, 0
           m -7, 0
           a 7,7 0 1,0 14,0
           a 7,7 0 1,0 -14,0" fill="#ff771d" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="1" stroke-dasharray="0" cx="0" cy="0" shape="circle" class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-circle" style="transform: translate(50%, 50%);"></path>
                                </svg>
                            </span><span class="apexcharts-legend-text" rel="3" i="2" data:default-text="Customers" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Customers</span>
                        </div>
                    </div><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div><div class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-0" style="order: 1;"><span class="apexcharts-tooltip-marker" shape="circle" style="color: rgb(65, 84, 241);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-1" style="order: 2;"><span class="apexcharts-tooltip-marker" shape="circle" style="color: rgb(46, 202, 106);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-2" style="order: 3;"><span class="apexcharts-tooltip-marker" shape="circle" style="color: rgb(255, 119, 29);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom apexcharts-theme-light"><div class="apexcharts-xaxistooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div>
                </div>
            </div>

            <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#reportsChart"), {
                    series: [
                        {
                          name: 'Диоксид углерода',
                          data: [7.65, 40, 28, 51, 42, 82, 56, 34, 67, 23, 45, 39]
                        },
                        {
                          name: 'Сульфат аммония',
                          data: [11, 32, 45, 32, 34, 52, 41, 28, 37, 49, 58, 47]
                        },
                        {
                          name: 'Пыль металлов',
                          data: [15, 11, 32, 18, 9, 24, 11, 16, 22, 13, 18, 10]
                        }
                    ],
                    chart: {
                      height: 350,
                      type: 'area',
                      toolbar: {
                        show: false
                      },
                    },
                    markers: {
                      size: 4
                    },
                    colors: ['#4154f1', '#2eca6a', '#ff771d'],
                    fill: {
                      type: "gradient",
                      gradient: {
                        shadeIntensity: 1,
                        opacityFrom: 0.3,
                        opacityTo: 0.4,
                        stops: [0, 90, 100]
                      }
                    },
                    dataLabels: {
                      enabled: false
                    },
                    stroke: {
                      curve: 'smooth',
                      width: 2
                    },
                    xaxis: {
                      type: 'datetime',
                      labels: {
                        format: 'MM/yy',
                      },
                      categories: [
                          "2024-01-01T00:00:00.000Z",
                          "2024-02-01T00:00:00.000Z",
                          "2024-03-01T00:00:00.000Z",
                          "2024-04-01T00:00:00.000Z",
                          "2024-05-01T00:00:00.000Z",
                          "2024-06-01T00:00:00.000Z",
                          "2024-07-01T00:00:00.000Z",
                          "2024-08-01T00:00:00.000Z",
                          "2024-09-01T00:00:00.000Z",
                          "2024-10-01T00:00:00.000Z",
                          "2024-11-01T00:00:00.000Z",
                          "2024-12-01T00:00:00.000Z"
                      ]
                    },
                    tooltip: {
                      x: {
                        format: 'MM/yy'
                      },
                    }
                  }).render();
                });
            </script>
        </div>
    </div>
</div>