@using EmisTracking.Localization
﻿<div class="col-md-12">
    <div class="alert alert-danger m-3 p-3">
        <h3 style="align-self: center">
            @LangResources.NoApiConnectionMessage
        </h3>
    </div>
</div>

@section Scripts
{
    <script>
        var sideBarButtons = document.getElementById("sidebar-nav");
        sideBarButtons.style.display = "none";
        var headerRightButtons = document.getElementById("headerRightButtons");
        headerRightButtons.style.display = "none";
    </script>
}