@using EmisTracking.Localization
@using EmisTracking.Localization.StudentsPerf.Localization
@model EmisTracking.WebApi.Models.Models.LoginModel;
@{
    ViewData["Title"] = LangResources.Titles.AuthLogin;
}

<form asp-action="Login" asp-controller="Auth" method="post" asp-antiforgery="true"
      class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger" id="validationSummary"></div>
    <div class="row mb-3">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="Email" class="form-control" id="emailInput" />
            <span asp-validation-for="Email" class="text-danger inputError"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="Password" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="Password" type="password" class="form-control" id="passwordInput" />
            <span asp-validation-for="Password" class="text-danger inputError"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <button type="submit" id="loginBtn" class="btn btn-primary">@LangResources.LoginButtonText</button>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}